<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <script src="/js/main.js" defer></script>
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="parks">
            <h1>Wszystkie Parki</h1>
            <div class="parks__list">
            
            </div>
        </div>
    </div>
</body>
</html>